.dummy{
	color : black;
}
.headerSize {
    font-size:35px;
    color:rgb(68, 41, 102);
	  font-family:'Times New Roman', Times, serif;
  }
.fontsize {
    font-weight: bold;
}

.search-combobox-container {
    display: flex;               /* Use Flexbox for alignment */
    align-items: center;         /* Vertically align items */
    justify-content: flex-end;   /* Align all items to the right */
    margin-right: 0.5rem;                  /* Optional: Adds consistent space between elements */
}

.search-input, .combobox-width {
    margin-left: 0.5rem;           /* Add spacing between items */
}

.search-input {
    flex: 1;                     /* Allows input to take up remaining space */
    max-width: 200px;            /* Optional: Controls maximum width of the input */
}

.combobox-width {
    flex: 1;                     /* Allows combobox to take up remaining space */
    max-width: 250px; 
    margin-right: 0.5rem;           /* Optional: Controls maximum width of the combobox */
}

.button {
    /* No need for extra margin here unless needed for design */
     margin-left: 0.5rem;
     margin-top: 1.0rem; 
}